In [21]:
import yfinance as yf
import pandas as pd
import numpy as np
import hvplot.pandas
from pathlib import Path
from finta import TA
import hvplot.pandas
import matplotlib.pyplot as plt

In [22]:
fut1 = yf.Ticker("GEZ22.CME")

fut1_df = fut1.history(period="150d", interval="1h")
fut1_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2022-04-25 00:00:00-04:00,96.870003,96.879997,96.855003,96.855003,0,0,0
2022-04-25 01:00:00-04:00,96.849998,96.849998,96.834999,96.845001,962,0,0
2022-04-25 02:00:00-04:00,96.839996,96.894997,96.839996,96.889999,7839,0,0
2022-04-25 03:00:00-04:00,96.889999,96.904999,96.875000,96.879997,8918,0,0
2022-04-25 04:00:00-04:00,96.875000,96.919998,96.860001,96.889999,7921,0,0
...,...,...,...,...,...,...,...
2022-10-14 15:00:00-04:00,94.900002,94.904999,94.889999,94.894997,7201,0,0
2022-10-14 16:00:00-04:00,94.889999,94.894997,94.885002,94.894997,10050,0,0
2022-10-16 18:00:00-04:00,94.889999,94.910004,94.875000,94.900002,336,0,0
2022-10-16 19:00:00-04:00,94.900002,94.900002,94.900002,94.900002,0,0,0
2022-10-16 19:13:50-04:00,94.900002,94.900002,94.900002,94.900002,0,0,0

In [23]:
fut1_df = fut1_df.drop(columns=["Dividends", "Stock Splits"])

fut1_df

                                Open       High        Low      Close  Volume
2022-04-25 00:00:00-04:00  96.870003  96.879997  96.855003  96.855003       0
2022-04-25 01:00:00-04:00  96.849998  96.849998  96.834999  96.845001     962
2022-04-25 02:00:00-04:00  96.839996  96.894997  96.839996  96.889999    7839
2022-04-25 03:00:00-04:00  96.889999  96.904999  96.875000  96.879997    8918
2022-04-25 04:00:00-04:00  96.875000  96.919998  96.860001  96.889999    7921
...                              ...        ...        ...        ...     ...
2022-10-14 15:00:00-04:00  94.900002  94.904999  94.889999  94.894997    7201
2022-10-14 16:00:00-04:00  94.889999  94.894997  94.885002  94.894997   10050
2022-10-16 18:00:00-04:00  94.889999  94.910004  94.875000  94.900002     336
2022-10-16 19:00:00-04:00  94.900002  94.900002  94.900002  94.900002       0
2022-10-16 19:13:50-04:00  94.900002  94.900002  94.900002  94.900002       0

[2852 rows x 5 columns]

In [26]:
fut1_df["Price Moving AVG"] = fut1_df["Close"].rolling(window=30).mean()

In [27]:
fut1_df["Volume Moving AVG"] = fut1_df["Volume"].rolling(window=30).mean()

fut1_df.head()

,Open,High,Low,Close,Volume,Price Moving AVG,Volume Moving AVG
2022-04-25 00:00:00-04:00,96.870003,96.879997,96.855003,96.855003,0,NaN,NaN
2022-04-25 01:00:00-04:00,96.849998,96.849998,96.834999,96.845001,962,NaN,NaN
2022-04-25 02:00:00-04:00,96.839996,96.894997,96.839996,96.889999,7839,NaN,NaN
2022-04-25 03:00:00-04:00,96.889999,96.904999,96.875000,96.879997,8918,NaN,NaN
2022-04-25 04:00:00-04:00,96.875000,96.919998,96.860001,96.889999,7921,NaN,NaN

In [28]:
fut1_df=fut1_df.dropna()

fut1_df

,Open,High,Low,Close,Volume,Price Moving AVG,Volume Moving AVG
2022-04-26 06:00:00-04:00,96.925003,96.930000,96.910004,96.930000,6741,96.902000,7959.766667
2022-04-26 07:00:00-04:00,96.925003,96.949997,96.925003,96.949997,6436,96.905166,8174.300000
2022-04-26 08:00:00-04:00,96.945000,96.974998,96.940002,96.970001,18322,96.909333,8752.966667
2022-04-26 09:00:00-04:00,96.959999,96.989998,96.959999,96.980003,18203,96.912333,9098.433333
2022-04-26 10:00:00-04:00,96.974998,96.995003,96.955002,96.964996,22181,96.915166,9540.533333
...,...,...,...,...,...,...,...
2022-10-14 15:00:00-04:00,94.900002,94.904999,94.889999,94.894997,7201,94.940499,11231.866667
2022-10-14 16:00:00-04:00,94.889999,94.894997,94.885002,94.894997,10050,94.938333,9567.066667
2022-10-16 18:00:00-04:00,94.889999,94.910004,94.875000,94.900002,336,94.936333,8499.000000
2022-10-16 19:00:00-04:00,94.900002,94.900002,94.900002,94.900002,0,94.934333,8027.566667
2022-10-16 19:13:50-04:00,94.900002,94.900002,94.900002,94.900002,0,94.932333,7375.100000

In [13]:
fut2 = yf.Ticker("CLZ22.NYM")

fut2_df = fut2.history(period="150d", interval="1h")
fut2_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2022-04-25 00:00:00-04:00,90.790001,90.980003,90.599998,90.650002,0,0,0
2022-04-25 01:00:00-04:00,90.739998,91.120003,90.430000,90.629997,300,0,0
2022-04-25 02:00:00-04:00,90.629997,90.739998,90.050003,90.260002,1415,0,0
2022-04-25 03:00:00-04:00,90.209999,90.629997,90.089996,90.190002,590,0,0
2022-04-25 04:00:00-04:00,90.180000,90.250000,89.690002,89.709999,1554,0,0
...,...,...,...,...,...,...,...
2022-10-14 15:00:00-04:00,84.760002,84.889999,84.570000,84.779999,3608,0,0
2022-10-14 16:00:00-04:00,84.769997,84.820000,84.540001,84.540001,2527,0,0
2022-10-16 18:00:00-04:00,84.629997,85.260002,84.500000,85.230003,2608,0,0
2022-10-16 19:00:00-04:00,85.250000,85.260002,85.150002,85.190002,69,0,0
2022-10-16 19:12:06-04:00,85.190002,85.190002,85.190002,85.190002,0,0,0

In [14]:
fut2_df = fut2_df.drop(columns=["Dividends", "Stock Splits"])

fut2_df

                                Open       High        Low      Close  Volume
2022-04-25 00:00:00-04:00  90.790001  90.980003  90.599998  90.650002       0
2022-04-25 01:00:00-04:00  90.739998  91.120003  90.430000  90.629997     300
2022-04-25 02:00:00-04:00  90.629997  90.739998  90.050003  90.260002    1415
2022-04-25 03:00:00-04:00  90.209999  90.629997  90.089996  90.190002     590
2022-04-25 04:00:00-04:00  90.180000  90.250000  89.690002  89.709999    1554
...                              ...        ...        ...        ...     ...
2022-10-14 15:00:00-04:00  84.760002  84.889999  84.570000  84.779999    3608
2022-10-14 16:00:00-04:00  84.769997  84.820000  84.540001  84.540001    2527
2022-10-16 18:00:00-04:00  84.629997  85.260002  84.500000  85.230003    2608
2022-10-16 19:00:00-04:00  85.250000  85.260002  85.150002  85.190002      69
2022-10-16 19:12:06-04:00  85.190002  85.190002  85.190002  85.190002       0

[2863 rows x 5 columns]